a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 5rem repeat(10, 1fr) 5rem;
    grid-template-rows: 0.5rem 1fr 1rem repeat(13, 1fr) 2rem;
    gap: 0.1rem;

}

/* El div que contiene la barra de categorias */
.categories_container {
    display: grid;
    background-color: rgb(199, 199, 199);
    grid-row: 2/ span 1;
    grid-column: 2/span 1;
    border-radius: 0.8rem;
    text-align: center;
    margin: 1% 0%;
    padding: 0;
}

/* Link que contiene el icono y el texto de la barra de categorias */
.link_container-categories {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
}

/* Texto de categorias */
.text-categories {
    margin: auto 0.5rem auto 0rem;
    padding: 0rem;
    font-family: "Inter", sans-serif;
    grid-row: span 1;
    grid-column: 2/ span 1;
    font-size: 0.8rem;
}

/* Div que contiene la barra de busqueda */
.container-seach_bar {
    display: grid;
    margin: auto;
    padding: auto;
    caret-color: blue;
    grid-row: 2/span 1;
    grid-column: 4/span 6;
    justify-content: center;
}

/* Input de la barra de busqueda*/
.seach_bar_input {
    width: 39rem;
    height: 2.7rem;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
    border-radius: 1rem;
    padding-left: 1rem;

}

/* Cambiar cuando se selecciona la barra de busqueda */
input:focus {
    outline-color: rgb(199, 199, 199);
    color: black;
    font-weight: normal;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

/* div contentedor de login */
.login_container {
    display: flex;
    grid-row: 2/3;
    grid-column: 10/11;
    align-items: center;
    justify-content: center;
    width: auto;
}


/* Texto INICIAR SESION */
.login-text {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-right: 0;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

/* Div que contiene texto y icono de carrito de compras */
.car_container {
    display: grid;
    grid-row: 2/span 1;
    grid-column: 11/span 1;
}

/* Link que contiene texto y icono */
.link-container-car {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Texto  "CARRITO" */
.text-register {
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

.triangulo {
    grid-row: 3/4;
    grid-column: 11/12;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-bar-cart {
    grid-row: 4/16;
    grid-column: 8/12;
    border: 1px solid #CBC9C9;
    box-shadow: 0px 2px 12px -2px #E5E5E5;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-height: 100%;
}

.container-principal-parte-superior {
    margin: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.container-title-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.style-title {
    font-family: 'Open Sans';
    font-size: 1.3rem;
    font-weight: 900;
    margin: auto;
    margin-right: 0.5rem;
    padding: auto;
}

.container-circle {
    width: 1.5rem;
    height: 1.5rem;
    padding: auto;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.close-window {

    padding: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-product-1 {
    border: 2px solid #CBC9C9;
    border-radius: 1rem;
    background-color: #FAFAFA;
    width: 100%;
    height: 9rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-img {
    display: flex;
    padding: auto;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-left: 1rem;
}

.container-especification-price {
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
}

.text-especification {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.9rem;
}

.text-price {
    font-family: 'Concert One';
    font-size: 1.4rem;
    color: #515151;
}

.container-cant-text-quitar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.input-cant {
    width: 2.1rem;
    height: 1.7rem;
    border-radius: 0.4rem;
    background-color: #f6f6f6;
    border: 1px solid #959595;
    box-shadow: 0px 2px 12px -2px #E5E5E5;
    margin-bottom: 0.4rem;
}

.text-quitar {
    font-family: 'Inter';
    font-size: 0.7rem;
    border-bottom: 1px solid black;
}

.text-total-price {
    font-family: 'Concert One';
    font-size: 1.5rem;
}

.button-buy-ver-cesta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-color: #D9D9D9;
    margin: auto 1rem;
    border-radius: 1rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.9rem;
}